{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style2.css' %}" xmlns="http://www.w3.org/1999/html">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>


</style>
</head>
<body>

<div class="header">
  <a href="{% url 'polls:index' %}" class="logo">Polls</a>
  <div class="header-right">
    <a href="{% url 'polls:index' %}">Home</a>
    <a href=https://github.com/touchtool/ku-polls/>Github</a>
  </div>
</div>
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <ul {% if message.tags %} class="{{ message.tags }}"{% endif %}><p><strong>{{ message }}</strong></p></ul>
    {% endfor %}
    </ul>
    {% endif %}
</fieldset>

<center>
<input type="submit" value="Vote">
</center>
</form>
<center><button onclick="document.location='{% url 'polls:index' %}'"
                class="button button1">Back To Polls</button></center>
